{% include "main/header.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AZeotropy2024-25</title> 
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>.introtext, .introtext .char {visibility: hidden;}</style>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aboreto&family=Ballet:opsz@16..72&family=Big+Shoulders+Text:wght@100..900&family=Doto:wght@100..900&family=Erica+One&family=Instrument+Serif:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Lexend+Tera:wght@100..900&family=Rubik+Glitch&family=Silkscreen:wght@400;700&family=Turret+Road:wght@200;300;400;500;700;800&display=swap" rel="stylesheet">
</head>
{% block content %}
<body>
<div id="smooth-wrapper">
    <div id="smooth-content">
      <section
          id="home"
          class="grid place-content-center h-screen bg-local bg-cover"
        >
          <div class="gap-5 p-0">
            <div class="grid px-5 pt-5 place-content-center introtext">
              <svg
                width="200"
                height="200"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 300 192"
                fill-rule="evenodd"
                clip-rule="evenodd"
                class="fill-white azeoLogo"
              >
                <path
                  d="M77.705 96H147V8m5 131v48h143l-26-32h-83l47-47-19-24h-62l29 24m-34-7H73.765l-6.356 8H147m-89.791 13H147v-8H63.469M6 187h141v-60H53.269"
                />
              </svg>
            </div>
            <div
              class="text-center text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-black big-shoulders-text tracking-tight introtext break-normal uppercase text-white"
            >
              Competitions
            </div>
          </div>
        </section>
        <section id="about" class="py-32 lg:mx-28">
          <div
            class="grid grid-cols-1 lg:grid-cols-3 mb-12 mx-5 gap-y-16 gap-x-2"
          >
            <!-- CIPHER -->
            <div
              class="grid lg:row-span-2 rounded-xl gap-5 place-content-stretch py-5 px-10"
            >
              <div class="blur-element uppercase text-3xl tracking-widest">
                CIPHER
              </div>
              <div
                class="blur-element h-max aspect-square bg-contain bg-center rounded-xl cipher-bg"
              ></div>
              <div class="blur-element">
                A mind-boggling online cryptic hunt based on themes from popular
                culture.
              </div>
              <button
                class="blur-element btn btn-primary w-40 place-self-center mt-5"
                onclick="my_modal_1.showModal()"
              >
                Read More
              </button>
              <dialog id="my_modal_1" class="modal">
                <div class="modal-box w-11/12 max-w-5xl">
                  <h3 class="text-lg font-bold">Prize worth 15000</h3>
                  <p class="py-4"></p>
                  <div role="tablist" class="tabs tabs-lifted">
                    <input
                      type="radio"
                      name="tabs_1"
                      role="tab"
                      class="tab"
                      aria-label="About"
                      checked
                    />
                    <div
                      role="tabpanel"
                      class="tab-content bg-base-100 border-base-300 rounded-box p-6"
                    >
                      <ul>
                        <li>
                          Calling all armchair detectives and puzzle enthusiasts!
                          AZeotropy, IIT Bombay is brewing up a cryptic crime scene,
                          and you need to crack the code to win amazing prizes worth
                          ₹15,000!
                        </li>
                        <li>
                          This mystery hunt is open to ALL students, no matter your
                          major. Are you ready to put your observation skills to the
                          test and solve a thrilling case? Unravel seemingly
                          unconnected clues to reveal the password and become the
                          ultimate sleuth.
                        </li>
                        <li>Register now and join the investigation!</li>
                      </ul>
                    </div>
                    <input
                      type="radio"
                      name="tabs_1"
                      role="tab"
                      class="tab"
                      aria-label="Event Details"
                    />
                    <div
                      role="tabpanel"
                      class="tab-content bg-base-100 border-base-300 rounded-box p-6"
                    >
                      <ul>
                        <li>This is an individual participation competition.</li>
                        <li>
                          Students from any engineering background can participate
                          in this competition.
                        </li>
                        <li>
                          You have to solve all the mysteries joining links between
                          clues within 12 hrs (11 A.M. to 11 P.M.)
                        </li>
                      </ul>
                    </div>
                    <input
                      type="radio"
                      name="tabs_1"
                      role="tab"
                      class="tab"
                      aria-label="Contact"
                    />
                    <div
                      role="tabpanel"
                      class="tab-content bg-base-100 border-base-300 rounded-box p-6"
                    >
                      <ul>
                        <li>Contact details coming soon!</li>
                      </ul>
                    </div>
                  </div>
                  <div class="modal-action">
                    <form method="dialog">
                      <button class="btn">Close</button>
                    </form>
                  </div>
                </div>
              </dialog>
            </div>
    
            <!-- Predictioneer (First Instance) -->
            <div
              class="grid lg:row-span-2 rounded-xl gap-5 place-content-stretch py-5 px-10"
            >
              <div class="blur-element uppercase text-3xl tracking-widest">
                Predictioneer
              </div>
              <div
                class="blur-element h-max aspect-square bg-contain bg-center rounded-xl predictioneer-bg"
              ></div>
              <div class="blur-element">
                Entrepreneurship competition based on Chemical engineering.
              </div>
              <button
                class="blur-element btn btn-primary w-40 place-self-center mt-5"
                onclick="my_modal_2.showModal()"
              >
                Read More
              </button>
              <dialog id="my_modal_2" class="modal">
                <div class="modal-box w-11/12 max-w-5xl">
                  <h3 class="text-lg font-bold">Prize worth 15000</h3>
                  <p class="py-4"></p>
                  <div role="tablist" class="tabs tabs-lifted">
                    <input
                      type="radio"
                      name="tabs_2"
                      role="tab"
                      class="tab"
                      aria-label="About"
                      checked
                    />
                    <div
                      role="tabpanel"
                      class="tab-content bg-base-100 border-base-300 rounded-box p-6"
                    >
                      <ul>
                        <li>
                          Calling all armchair detectives and puzzle enthusiasts!
                          AZeotropy, IIT Bombay is brewing up a cryptic crime scene,
                          and you need to crack the code to win amazing prizes worth
                          ₹15,000!
                        </li>
                        <li>
                          This mystery hunt is open to ALL students, no matter your
                          major. Are you ready to put your observation skills to the
                          test and solve a thrilling case? Unravel seemingly
                          unconnected clues to reveal the password and become the
                          ultimate sleuth.
                        </li>
                        <li>Register now and join the investigation!</li>
                      </ul>
                    </div>
                    <input
                      type="radio"
                      name="tabs_2"
                      role="tab"
                      class="tab"
                      aria-label="Event Details"
                    />
                    <div
                      role="tabpanel"
                      class="tab-content bg-base-100 border-base-300 rounded-box p-6"
                    >
                      <ul>
                        <li>This is an individual participation competition.</li>
                        <li>
                          Students from any engineering background can participate
                          in this competition.
                        </li>
                        <li>
                          You have to solve all the mysteries joining links between
                          clues within 12 hrs (11 A.M. to 11 P.M.)
                        </li>
                      </ul>
                    </div>
                    <input
                      type="radio"
                      name="tabs_2"
                      role="tab"
                      class="tab"
                      aria-label="Contact"
                    />
                    <div
                      role="tabpanel"
                      class="tab-content bg-base-100 border-base-300 rounded-box p-6"
                    >
                      <ul>
                        <li>Contact details coming soon!</li>
                      </ul>
                    </div>
                  </div>
                  <div class="modal-action">
                    <form method="dialog">
                      <button class="btn">Close</button>
                    </form>
                  </div>
                </div>
              </dialog>
            </div>
    
            <!-- IDP -->
            <div
              class="grid lg:row-span-2 rounded-xl gap-5 place-content-stretch py-5 px-10"
            >
              <div class="blur-element uppercase text-3xl tracking-widest">
                IDP
              </div>
              <div
                class="blur-element h-max aspect-square bg-contain bg-center rounded-xl idp-bg"
              ></div>
              <div class="blur-element">
                Apply theoretical concepts to solve real-life industrial problems.
              </div>
              <button
                class="blur-element btn btn-primary w-40 place-self-center mt-5"
                onclick="my_modal_3.showModal()"
              >
                Read More
              </button>
              <dialog id="my_modal_3" class="modal">
                <div class="modal-box w-11/12 max-w-5xl">
                  <h3 class="text-lg font-bold">Prize worth 1500</h3>
                  <p class="py-4"></p>
                  <div role="tablist" class="tabs tabs-lifted">
                    <input
                      type="radio"
                      name="tabs_3"
                      role="tab"
                      class="tab"
                      aria-label="About"
                      checked
                    />
                    <div
                      role="tabpanel"
                      class="tab-content bg-base-100 border-base-300 rounded-box p-6"
                    >
                      <ul>
                        <li>About content for IDP goes here!</li>
                      </ul>
                    </div>
                    <input
                      type="radio"
                      name="tabs_3"
                      role="tab"
                      class="tab"
                      aria-label="Event Details"
                    />
                    <div
                      role="tabpanel"
                      class="tab-content bg-base-100 border-base-300 rounded-box p-6"
                    >
                      <ul>
                        <li>Structure content for IDP goes here!</li>
                      </ul>
                    </div>
                    <input
                      type="radio"
                      name="tabs_3"
                      role="tab"
                      class="tab"
                      aria-label="Contact"
                    />
                    <div
                      role="tabpanel"
                      class="tab-content bg-base-100 border-base-300 rounded-box p-6"
                    >
                      <ul>
                        <li>Contact details coming soon!</li>
                      </ul>
                    </div>
                  </div>
                  <div class="modal-action">
                    <form method="dialog">
                      <button class="btn">Close</button>
                    </form>
                  </div>
                </div>
              </dialog>
            </div>
    
            <!-- Chem-O-Philia -->
            <div
              class="grid lg:row-span-2 rounded-xl gap-5 place-content-stretch py-5 px-10"
            >
              <div class="blur-element uppercase text-3xl tracking-widest">
                Chem-O-Philia
              </div>
              <div
            class="blur-element h-max aspect-square bg-contain bg-center rounded-xl chem-o-philia-bg"
            ></div>
              <div class="blur-element">
                A National level Chemical Engineering Quiz Competition.
              </div>
              <button
                class="blur-element btn btn-primary w-40 place-self-center mt-5"
                onclick="my_modal_4.showModal()"
              >
                Read More
              </button>
              <dialog id="my_modal_4" class="modal">
                <div class="modal-box w-11/12 max-w-5xl">
                  <h3 class="text-lg font-bold">Prize worth 1500</h3>
                  <p class="py-4"></p>
                  <div role="tablist" class="tabs tabs-lifted">
                    <input
                      type="radio"
                      name="tabs_4"
                      role="tab"
                      class="tab"
                      aria-label="About"
                      checked
                    />
                    <div
                      role="tabpanel"
                      class="tab-content bg-base-100 border-base-300 rounded-box p-6"
                    >
                      <ul>
                        <li>About content for Chem-O-Philia goes here!</li>
                      </ul>
                    </div>
                    <input
                      type="radio"
                      name="tabs_4"
                      role="tab"
                      class="tab"
                      aria-label="Event Details"
                    />
                    <div
                      role="tabpanel"
                      class="tab-content bg-base-100 border-base-300 rounded-box p-6"
                    >
                      <ul>
                        <li>Structure content for Chem-O-Philia goes here!</li>
                      </ul>
                    </div>
                    <input
                      type="radio"
                      name="tabs_4"
                      role="tab"
                      class="tab"
                      aria-label="Contact"
                    />
                    <div
                      role="tabpanel"
                      class="tab-content bg-base-100 border-base-300 rounded-box p-6"
                    >
                      <ul>
                        <li>Contact details coming soon!</li>
                      </ul>
                    </div>
                  </div>
                  <div class="modal-action">
                    <form method="dialog">
                      <button class="btn">Close</button>
                    </form>
                  </div>
                </div>
              </dialog>
            </div>
    
            <!-- Optimizer -->
            <div
              class="grid lg:row-span-2 rounded-xl gap-5 place-content-stretch py-5 px-10"
            >
              <div class="blur-element uppercase text-3xl tracking-widest">
                Optimizer
              </div>
              <div
                class="blur-element h-max aspect-square bg-contain bg-center rounded-xl optimizer-bg"
              ></div>
              <div class="blur-element">
                Push your coding skills to the limit and optimize your way to
                victory
              </div>
              <button
                class="blur-element btn btn-primary w-40 place-self-center mt-5"
                onclick="my_modal_5.showModal()"
              >
                Read More
              </button>
              <dialog id="my_modal_5" class="modal">
                <div class="modal-box w-11/12 max-w-5xl">
                  <h3 class="text-lg font-bold">Prize worth 1500</h3>
                  <p class="py-4"></p>
                  <div role="tablist" class="tabs tabs-lifted">
                    <input
                      type="radio"
                      name="tabs_5"
                      role="tab"
                      class="tab"
                      aria-label="About"
                      checked
                    />
                    <div
                      role="tabpanel"
                      class="tab-content bg-base-100 border-base-300 rounded-box p-6"
                    >
                      <ul>
                        <li>About content for Optimizer goes here!</li>
                      </ul>
                    </div>
                    <input
                      type="radio"
                      name="tabs_5"
                      role="tab"
                      class="tab"
                      aria-label="Event Details"
                    />
                    <div
                      role="tabpanel"
                      class="tab-content bg-base-100 border-base-300 rounded-box p-6"
                    >
                      <ul>
                        <li>Structure content for Optimizer goes here!</li>
                      </ul>
                    </div>
                    <input
                      type="radio"
                      name="tabs_5"
                      role="tab"
                      class="tab"
                      aria-label="Contact"
                    />
                    <div
                      role="tabpanel"
                      class="tab-content bg-base-100 border-base-300 rounded-box p-6"
                    >
                      <ul>
                        <li>Contact details coming soon!</li>
                      </ul>
                    </div>
                  </div>
                  <div class="modal-action">
                    <form method="dialog">
                      <button class="btn">Close</button>
                    </form>
                  </div>
                </div>
              </dialog>
            </div>
    
            <!-- Chem-E-Cross -->
            <div
              class="grid lg:row-span-2 rounded-xl gap-5 place-content-stretch py-5 px-10"
            >
              <div class="blur-element uppercase text-3xl tracking-widest">
                Chem-E-Cross
              </div>
              <div
                class="blur-element h-max aspect-square bg-contain bg-center rounded-xl chem-e-cross-bg"
              ></div>
              <div class="blur-element">
                Test your engineering knowledge with this series of crosswords
                based on engineering concepts.
              </div>
              <button
                class="blur-element btn btn-primary w-40 place-self-center mt-5"
                onclick="my_modal_6.showModal()"
              >
                Read More
              </button>
              <dialog id="my_modal_6" class="modal">
                <div class="modal-box w-11/12 max-w-5xl">
                  <h3 class="text-lg font-bold">Prize worth 1500</h3>
                  <p class="py-4"></p>
                  <div role="tablist" class="tabs tabs-lifted">
                    <input
                      type="radio"
                      name="tabs_6"
                      role="tab"
                      class="tab"
                      aria-label="About"
                      checked
                    />
                    <div
                      role="tabpanel"
                      class="tab-content bg-base-100 border-base-300 rounded-box p-6"
                    >
                      <ul>
                        <li>About content for Chem-E-Cross goes here!</li>
                      </ul>
                    </div>
                    <input
                      type="radio"
                      name="tabs_6"
                      role="tab"
                      class="tab"
                      aria-label="Event Details"
                    />
                    <div
                      role="tabpanel"
                      class="tab-content bg-base-100 border-base-300 rounded-box p-6"
                    >
                      <ul>
                        <li>Structure content for Chem-E-Cross goes here!</li>
                      </ul>
                    </div>
                    <input
                      type="radio"
                      name="tabs_6"
                      role="tab"
                      class="tab"
                      aria-label="Contact"
                    />
                    <div
                      role="tabpanel"
                      class="tab-content bg-base-100 border-base-300 rounded-box p-6"
                    >
                      <ul>
                        <li>Contact details coming soon!</li>
                      </ul>
                    </div>
                  </div>
                  <div class="modal-action">
                    <form method="dialog">
                      <button class="btn">Close</button>
                    </form>
                  </div>
                </div>
              </dialog>
            </div>
    
            <!-- AZeoCube -->
            <div
              class="grid lg:row-span-2 rounded-xl gap-5 place-content-stretch py-5 px-10"
            >
              <div class="blur-element uppercase text-3xl tracking-widest">
                AZeoRover
              </div>
              <div
                class="blur-element h-max aspect-square bg-contain bg-center rounded-xl azeorover-bg"
              ></div>
              <div class="blur-element">
                AZeoCube challenges the students to develop a portable water
                purifier system.
              </div>
              <button
                class="blur-element btn btn-primary w-40 place-self-center mt-5"
                onclick="my_modal_7.showModal()"
              >
                Read More
              </button>
              <dialog id="my_modal_7" class="modal">
                <div class="modal-box w-11/12 max-w-5xl">
                  <h3 class="text-lg font-bold">Prize worth 1500</h3>
                  <p class="py-4"></p>
                  <div role="tablist" class="tabs tabs-lifted">
                    <input
                      type="radio"
                      name="tabs_7"
                      role="tab"
                      class="tab"
                      aria-label="About"
                      checked
                    />
                    <div
                      role="tabpanel"
                      class="tab-content bg-base-100 border-base-300 rounded-box p-6"
                    >
                      <ul>
                        <li>About content for AZeoCube goes here!</li>
                      </ul>
                    </div>
                    <input
                      type="radio"
                      name="tabs_7"
                      role="tab"
                      class="tab"
                      aria-label="Event Details"
                    />
                    <div
                      role="tabpanel"
                      class="tab-content bg-base-100 border-base-300 rounded-box p-6"
                    >
                      <ul>
                        <li>Structure content for AZeoCube goes here!</li>
                      </ul>
                    </div>
                    <input
                      type="radio"
                      name="tabs_7"
                      role="tab"
                      class="tab"
                      aria-label="Contact"
                    />
                    <div
                      role="tabpanel"
                      class="tab-content bg-base-100 border-base-300 rounded-box p-6"
                    >
                      <ul>
                        <li>Contact details coming soon!</li>
                      </ul>
                    </div>
                  </div>
                  <div class="modal-action">
                    <form method="dialog">
                      <button class="btn">Close</button>
                    </form>
                  </div>
                </div>
              </dialog>
            </div>
    
            <!-- AFFICHE -->
            <div
              class="grid lg:row-span-2 rounded-xl gap-5 place-content-stretch py-5 px-10"
            >
              <div class="blur-element uppercase text-3xl tracking-widest">
                Safe-Chem
              </div>
              <div
                class="blur-element h-max aspect-square bg-contain bg-center rounded-xl safe-chem-bg"
              ></div>
              <div class="blur-element">
                A great opportunity to showcase your cutting-edge research and
                ideas to a panel of experts and industry leaders.
              </div>
              <button
                class="blur-element btn btn-primary w-40 place-self-center mt-5"
                onclick="my_modal_8.showModal()"
              >
                Read More
              </button>
              <dialog id="my_modal_8" class="modal">
                <div class="modal-box w-11/12 max-w-5xl">
                  <h3 class="text-lg font-bold">Prize worth 1500</h3>
                  <p class="py-4"></p>
                  <div role="tablist" class="tabs tabs-lifted">
                    <input
                      type="radio"
                      name="tabs_8"
                      role="tab"
                      class="tab"
                      aria-label="About"
                      checked
                    />
                    <div
                      role="tabpanel"
                      class="tab-content bg-base-100 border-base-300 rounded-box p-6"
                    >
                      <ul>
                        <li>About content for AFFICHE goes here!</li>
                      </ul>
                    </div>
                    <input
                      type="radio"
                      name="tabs_8"
                      role="tab"
                      class="tab"
                      aria-label="Event Details"
                    />
                    <div
                      role="tabpanel"
                      class="tab-content bg-base-100 border-base-300 rounded-box p-6"
                    >
                      <ul>
                        <li>Structure content for AFFICHE goes here!</li>
                      </ul>
                    </div>
                    <input
                      type="radio"
                      name="tabs_8"
                      role="tab"
                      class="tab"
                      aria-label="Contact"
                    />
                    <div
                      role="tabpanel"
                      class="tab-content bg-base-100 border-base-300 rounded-box p-6"
                    >
                      <ul>
                        <li>Contact details coming soon!</li>
                      </ul>
                    </div>
                  </div>
                  <div class="modal-action">
                    <form method="dialog">
                      <button class="btn">Close</button>
                    </form>
                  </div>
                </div>
              </dialog>
            </div>
    
            <!-- Predictioneer (Second Instance) -->
            <div
              class="grid lg:row-span-2 rounded-xl gap-5 place-content-stretch py-5 px-10"
            >
              <div class="blur-element uppercase text-3xl tracking-widest">
                Predictioneer
              </div>
              <div
                class="blur-element h-max aspect-square bg-contain bg-center rounded-xl predictioneer-bg"
              ></div>
              <div class="blur-element">
                Dynamic ML to predict water availability in waterbodies
              </div>
              <button
                class="blur-element btn btn-primary w-40 place-self-center mt-5"
                onclick="my_modal_9.showModal()"
              >
                Read More
              </button>
              <dialog id="my_modal_9" class="modal">
                <div class="modal-box w-11/12 max-w-5xl">
                  <h3 class="text-lg font-bold">Prize worth 1500</h3>
                  <p class="py-4"></p>
                  <div role="tablist" class="tabs tabs-lifted">
                    <input
                      type="radio"
                      name="tabs_9"
                      role="tab"
                      class="tab"
                      aria-label="About"
                      checked
                    />
                    <div
                      role="tabpanel"
                      class="tab-content bg-base-100 border-base-300 rounded-box p-6"
                    >
                      <ul>
                        <li>About content for Predictioneer (ML) goes here!</li>
                      </ul>
                    </div>
                    <input
                      type="radio"
                      name="tabs_9"
                      role="tab"
                      class="tab"
                      aria-label="Event Details"
                    />
                    <div
                      role="tabpanel"
                      class="tab-content bg-base-100 border-base-300 rounded-box p-6"
                    >
                      <ul>
                        <li>Structure content for Predictioneer (ML) goes here!</li>
                      </ul>
                    </div>
                    <input
                      type="radio"
                      name="tabs_9"
                      role="tab"
                      class="tab"
                      aria-label="Contact"
                    />
                    <div
                      role="tabpanel"
                      class="tab-content bg-base-100 border-base-300 rounded-box p-6"
                    >
                      <ul>
                        <li>Contact details coming soon!</li>
                      </ul>
                    </div>
                  </div>
                  <div class="modal-action">
                    <form method="dialog">
                      <button class="btn">Close</button>
                    </form>
                  </div>
                </div>
              </dialog>
            </div>
          </div>
        </section>
         {% include "main/footer.html" %}
    </div>
</div>
<script  src="{% static 'js/script.js' %}" type="module"></script>
<script src="{% static 'js/main.js' %}" type="module"></script>
<script type="text/javascript" src="{% static 'js/gsap-3.12.5/package/dist/all.js' %}"  ></script>
<script src="{% static 'js/splitting.min.js' %}" type="module"></script>
<script>
   document.querySelectorAll('.modal').forEach(modal => {
     modal.addEventListener('show', function() {
       const aboutTab = this.querySelector('input[aria-label="About"]');
       if (aboutTab) {
         aboutTab.checked = true; // Force "About" tab to be active on modal open
       }
     });
   });
 </script>
</body>
{% endblock %}
</html>