{% include "main/header.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AZeotropy2024-25</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>.introtext, .introtext .char {visibility: hidden;}</style>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aboreto&family=Ballet:opsz@16..72&family=Big+Shoulders+Text:wght@100..900&family=Doto:wght@100..900&family=Erica+One&family=Instrument+Serif:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Lexend+Tera:wght@100..900&family=Rubik+Glitch&family=Silkscreen:wght@400;700&family=Turret+Road:wght@200;300;400;500;700;800&display=swap" rel="stylesheet">
</head>
{% block content %}
<body>
    <div id="smooth-wrapper">
      <div id="smooth-content">
            <div class="flex flex-col items-center justify-center mt-24">
              <div class="big-shoulders-text text-4xl">Title Sponsors</div>
              <img class="h-72 py-10 bg-contain bg-center"
              src="{% static '/home/piyush813/your_project/static/Pics/Logos/reliance.png' %}" />
            </div>

            <div class="flex flex-col items-center justify-center mt-24">
              <div class="big-shoulders-text text-4xl">Powered By</div>
              <img class="h-72 py-10 bg-contain bg-center"
              src="{% static 'Pics/Logos/alkyl amines.png' %}" />
            </div>

            <div class="flex flex-col items-center justify-center mt-24">
              <div class="big-shoulders-text text-4xl">Presented by</div>
              <img class="h-72 py-10 bg-contain bg-center"
              src="{% static 'Pics/Logos/HP-Master-PNG_Logo.png' %}" />
            </div>

            <div class="flex flex-col items-center justify-center mt-24">
              <div class="big-shoulders-text text-4xl">Sustainability Partner</div>
              <img class="h-72 py-10 bg-contain bg-center"
              src="{% static 'Pics/Logos/Jay-chemical.jpg' %}" />
            </div>

            <div class="flex flex-col items-center justify-center mt-24">
              <div class="big-shoulders-text text-4xl">In Association With</div>
              <img class="h-72 py-10 bg-contain bg-center" src="{% static 'Pics/Logos/Deepak Nitrite Limited.webp' %}" />
            </div>

            <div class="flex flex-col items-center justify-center mt-24">
              <div class="big-shoulders-text text-4xl">Social Media Partners</div>
              <img class="h-72 py-10 bg-contain bg-center" src="{% static 'Pics/Logos/cistheta_png.png' %}" />
            </div>
            {% include "main/footer.html" %}
      </div>
    </div>
    <script src="{% static 'js/script.js' %}" type="module"></script>
    <script src="{% static 'js/main.js' %}" type="module"></script>
    <script type="text/javascript" src="{% static 'js/gsap-3.12.5/package/dist/all.js' %}"></script>
    <script src="{% static 'js/splitting.min.js' %}" type="module"></script>
</body>
{% endblock %}
</html>